@model Users
@{
    ViewData["Title"] = "Home Page";
    string username = $"{Model.FirstName} {Model.LastName}";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Chat room application, allows to create N chat rooms, all users can chat with each other, chat rooms do not have access restriction, chat rooms have a BOT service integrated with Azure LUIS, which allows detecting the intention of a user based on words.

        The project is developed in:
        .NET 5, MVC, Jquery, signalR, AzureLuis, Html TagHelpers, EntityFramework, Linq, CodeFirst, MSSQLSERVER, Dependency Injection.
    </p>
</div>